@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {

  margin: 0;

  padding: 0;

  box-sizing: border-box;

  font-family: 'Lobster Two', sans-serif;

}

nav {

  background-color: pink;

  padding: 10px 60px;

  display: flex;

  justify-content: space-between;

  align-items: center;

}

nav .logo a {

  text-decoration: none;

  color: palevioletred;

  font-size: 35px;

  font-weight: 600;

}

nav ul {

  display: flex;

  align-items: center;

  list-style: none;

  padding: 10px;

}

nav li {

  margin-left: 7px;

}

nav li a {

  text-decoration: none;

  color: palevioletred;

  font-size: 18px;

  font-weight: 500;

  padding: 8px 15px;

  border-radius: 5px;

  transition: 0.3s;

}

nav li a:hover {

  background-color: white;

  color: pink;
}

.titulo {
  margin-top: 2rem;

  color: pink;

  font-size: 20px;

  font-weight: 600;

  text-align: center;
}

.sub_titulo {

  color: palevioletred;

  font-size: 20px;

  font-weight: 400;

  margin-top: 10px;

  text-align: center;
}


.card-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background-color: pink;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
  padding: 20px;
  margin-top: 6rem;
  color: palevioletred;

}

/*perfil*/

.banner {
  background-image: url("banner.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  color: pink;
  padding: 30px 20px;
  height: 200px;
}

.titulo {
  margin-top: 2rem;
  color: pink;

  font-size: 20px;

  font-weight: 600;

}

.sub_titulo {

  color: palevioletred;

  font-size: 20px;

  font-weight: 400;

  margin-top: 10px;

}

.perfis {

  background-color: pink;
  border-radius: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 500px;
  text-align: center;
  padding: 5px;
  margin-top: 6rem;
  color: palevioletred;
  flex: 1 1 calc(33.333% - 2rem);
  /* 3 por linha */

}

.perfis-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;

}


.perfis img {
  width: 50%;
  height: 15rem;
  object-fit: cover;
  border-radius: 3rem;
  margin-top: 1rem;
  justify-content: center;
}

.perfir {

  background-color: pink;
  border-radius: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
  padding: 5px;
  margin-top: 6rem;
  color: palevioletred;
  flex: 1 1 calc(33.333% - 2rem);
  /* 3 por linha */

}

.perfir-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;

}


.perfir img {
  width: 50%;
  height: 15rem;
  object-fit: cover;
  border-radius: 3rem;
  margin-top: 1rem;
  justify-content: center;
}
.button {
  width: 90px;
  position: center;;
  border-radius: 4px;
  border: none;
  background-color: palevioletred;
  color: white;
  cursor: pointer;
  align-items: center;
  margin: 6rem;
  font-family: 'Lobster Two', sans-serif;
}
 .button_container {
  display: flex;
  justify-content: center; 

}
.button a {
text-decoration: none;
color: white;

}
.button:hover {
background-color: pink;
}
